@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
:root {
    --moderateViolet: hsl(263, 55%, 52%);
    --veryDarkGrayishBlue: hsl(217, 19%, 35%);
    --veryDarkBlackishlBue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);
    --lightGray: hsl(0, 0%, 81%);
    --lightGrayishBlue: hsl(210, 46%, 95%);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--lightGrayishBlue);
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    min-height: 100vh;
}
.main_container {
    column-gap: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: row;
    margin: 10.313rem auto 10.310rem;
    row-gap: 25px;
    width: 77%;
}
.main_container > section {
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 1.563rem 1.875rem;
}
/*------ Grid Cards ----*/
.card_item_1 {
    background-color: var(--moderateViolet);
    background-image: url(../src/img/bg-pattern-quotation.svg);
    background-position: top right 18%;
    background-repeat: no-repeat;
    color: var(--white);
    grid-column: span 2;
}
.card_item_2 {
    background-color: var(--veryDarkGrayishBlue);
    color: var(--white);
}
.card_item_3 {
    grid-row: span 2;
}
.card_item_3, .card_item_4 {
    background-color: var(--white);
    color: var(--veryDarkGrayishBlue);
}
.card_item_5 {
    background-color: var(--veryDarkBlackishlBue);
    color: var(--white);
    grid-column: span 2;
}
/* Header  Card */
.header_card {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    height: 30px;
}
.icon_user img {
    border-radius: 50%;
    margin-right: 15px;
    width: 31px;
}
/* Border Image */
.card_item_1 img, .card_item_5 img {
    border: 1px solid rgb(178, 44, 255, 0.9);
}
.card_item_2 img {
    border: 1px solid var(--white);
}
.card_item_3 img, .card_item_4 img {
    border: 1px solid var(--lightGray);
}
h3 {
    font-weight: 500;
}
.info_user span {
    color: var(--lightGray);
    font-size: 0.7rem;
}
h1 {
    line-height: 25px;
    width: 97%;
}
p {
    opacity: 0.7;
    line-height: 18px;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}